*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: gainsboro;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, 	deepskyblue 50%,  	gainsboro 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
}
    100% {
    transform:translateX(25%);
}
}

.create-account-container{
    background-color: white;
    padding: 40px;
    box-shadow: 5px 3px 5px 0px grey;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    text-align: center;
    transition: all 0.9s ease-in-out;
    padding-top: 0px;
    padding-bottom: 100px;
    animation: fadeInScale 0.9s ease-in-out;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.create-account-container:hover{
    transform: scale(1.09);
    box-shadow: 0px 0px 5px 3px grey;
}

h2{
    color: 	dodgerblue;
    justify-self: center;
    text-shadow: 5px 0px 4px  silver;
}

fieldset{
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px;
    border-color:lightskyblue;
}

.Fname, .Lname, .password, .Mname{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    width: 290px;
    height: 30px;
    transition: all 1s ease-in-out;
    background-color:snow;
    box-shadow: 5px 0px 10px 3px silver;
    border: none;
    padding-bottom:10px;
    font-size: small;

}

.Fname:hover, .password:hover, .Lname:hover, .Mname:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 5px silver;
    border: none;
}

.fname, .password-label, .lname, .mname{
    color: grey;
    font-size: 12px;
}

.create-button{
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 20px 0 rgba(65, 132, 234, 0.75);
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.create-button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.create-button:focus {
    outline: none;
}
